body {
  padding: 20px;
}
.color-text-input {
  min-height: 30px;
}
/* button to open picker */
.color-dropdown {
  height: 30px;
  padding: 0px 5px;
}
.color-preview {
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  height: 20px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
}
.color-preview.current-color {
  margin-top: 3px;
}
.caret {
  vertical-align: bottom;
  margin-bottom: 15px;
}
/* basic menu of colors */
.color-menu {
  padding: 5px 0px;
  /*overwriting bootstrap default */

}
@media only screen and (max-width: 767px) {
  .color-menu {
    left: -190px;
  }
}
.color-menu .color-preview {
  vertical-align: middle;
  margin: 0px;
}
.color-menu .color-preview.current-color,
.color-menu .color-preview.white {
  background-color: #ffffff;
}
.color-menu .color-preview.red {
  background-color: #ff0000;
}
.color-menu .color-preview.orange {
  background-color: #ff6600;
}
.color-menu .color-preview.yellow {
  background-color: #ffff00;
}
.color-menu .color-preview.green {
  background-color: #008000;
}
.color-menu .color-preview.blue {
  background-color: #0000ff;
}
.color-menu .color-preview.indigo {
  background-color: #4b0082;
}
.color-menu .color-preview.violet {
  background-color: #ee82ee;
}
.color-menu .color-preview.purple {
  background-color: #800080;
}
.color-menu .color-preview.black {
  background-color: #000000;
}
.color-menu li > a {
  padding: 5px 6px;
  /*overwriting bootstrap default */

  cursor: default;
  min-height: 25px;
  background-color: #fff;
}
.color-menu li > a:hover {
  background-color: #eee;
  color: #333;
  background-image: none;
}
.color-menu .btn {
  margin: 0px 5px;
  border: 1px solid #cccccc !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  border-radius: 4px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s !important;
  transition: border linear 0.2s, box-shadow linear 0.2s !important;
  /*overwriting the bootstrap styles for button groups to not have all rounded corners */

}
.color-menu .btn .color-select {
  height: 22px;
  padding-top: 0px;
  margin-top: 1px;
}
.color-menu-instructions {
  text-align: center;
  padding: 0px 6px;
  margin: 0px;
}
.color-label {
  vertical-align: middle;
  margin: 0px;
  margin-left: 5px;
  cursor: pointer;
}
/* color gradients */
.color-box {
  height: 20px;
  width: 200px;
  display: none;
  position: absolute;
  right: 5px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  margin-top: 1px;
}
/* selector box */
.highlight-band {
  border: 2px solid #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  height: 20px;
  width: 5px;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: -2px;
  left: 97.5px;
}
.spectrum-white {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ffffff), color-stop(1, #808080));
  background-image: -moz-linear-gradient(left center, #ffffff 0%, #808080 100%);
}
.spectrum-white .highlight-band {
  left: 0px;
}
.spectrum-red {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ffffff), color-stop(0.5, #ff0000), color-stop(1, #000000));
  background-image: -moz-linear-gradient(left center, #ffffff 0%, #ff0000 50%, #000000 100%);
}
.spectrum-orange {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ffffff), color-stop(0.5, #ff6600), color-stop(1, #000000));
  background-image: -moz-linear-gradient(left center, #ffffff 0%, #ff6600 50%, #000000 100%);
}
.spectrum-yellow {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ffffff), color-stop(0.5, #ffff00), color-stop(1, #000000));
  background-image: -moz-linear-gradient(left center, #ffffff 0%, #ffff00 50%, #000000 100%);
}
.spectrum-green {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #80ff80), color-stop(0.5, #008000), color-stop(1, #000000));
  background-image: -moz-linear-gradient(left center, #80ff80 0%, #008000 50%, #000000 100%);
}
.spectrum-blue {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ffffff), color-stop(0.5, #0000ff), color-stop(1, #000000));
  background-image: -moz-linear-gradient(left center, #ffffff 0%, #0000ff 50%, #000000 100%);
}
.spectrum-purple {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ff80ff), color-stop(0.5, #800080), color-stop(1, #000000));
  background-image: -moz-linear-gradient(left center, #ff80ff 0%, #800080 50%, #000000 100%);
}
.spectrum-black {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #000000), color-stop(1, #808080));
  background-image: -moz-linear-gradient(left center, #000000 0%, #808080 100%);
}
.spectrum-black .highlight-band {
  left: 0px;
  border: 2px solid #808080;
}
